
header {
    min-height: 40vh;
} 


div.img {
    position: relative;
}
div.text1 {
    position: absolute;
    width: 70%;
    height: 200px;
    background-color: rgba(54, 53, 53, 0.6);
    padding: 2%;
    top: 79%;
    margin-left: 15%;
 > ul {
    
    color: white;
    font-weight: 700;
    font-size: 30px;
    li {
        text-align: center;
        list-style-type: none;
    }
   
}
}
section.sec1 > div {
    width: 70%;
    margin-left: 15%;
}
.ifru {
    border-radius: 50%;
    width: 250px;
    height: 350px;
  }
  .chef {
    margin-top: 17%;
    margin-right: 10%;
  }
span.the-chef {
    color: $primary;
    font-weight: bold;
  }
  span.new {
    background-color: rgb(196, 4, 61);
    border-radius: 5px;
    padding: 3px 5px;
    
  }
div.menum {
    width: 70%;
    margin-left: 15%;
   ul  {
    width: 100%;
    }
  }
  
 div.umenu {
    line-height: 3rem;
    p {
        border-bottom: 1px solid white;
    }
 }
 section > div.galery {
    
    img {
        width: 300px;
        height: 330px;
        object-fit: cover;
        border-radius: 3px;
        border-top: 1px solid rgb(46, 45, 45);
        border-left: 1px solid rgb(46, 45, 45);
        border-right: 1px solid rgb(46, 45, 45);
        
    }
 }
div.img-g {
    position: relative;
}
div.text-g {
    position: absolute;
    background-color: $secondary;
    
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid rgb(46, 45, 45);
    border-left: 1px solid rgb(46, 45, 45);
    border-right: 1px solid rgb(46, 45, 45);
}
.seclast {
    margin-top: 15%;
}
section.seclast {
    > div:last-child {
        width: 50%;
        margin-left: 25%;
    }
    a {
        text-decoration: none;
        color: $nav-link-color;
    }
    span {
        background-color: rgb(196, 4, 61);
        border-radius: 3px;
        padding: 3px 5px; 
        font-weight: bold;
    }
}
footer {
    width: 70%;
    height: 10vh;
    margin-left: 15%;
    margin-top: 10%;
    padding: 4%;
    border-top: 1px solid white;
}
