// bootstrap var
$enable-gradients: true;

$primary: #0aaa32;
$secondary: #70787e;
$link-color:#6f42c1;

$spacer: 1.5rem;

$border-style: dotted;
$border-color: white;

$border-radius: 30px;


$nav-tabs-border-color: $secondary;
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 5px;
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-color: white;
$nav-tabs-link-active-bg: $secondary;

$nav-link-color: blue;


